<h1>Edit the <%= @recipe.title %> Recipe</h1>

<% if @recipe_tags == nil %>
  <% else %>
  <% @recipe_tags.each do |tag| %>
    <%= tag.tag_name %>&nbsp;
  <% end %>
<% end %>

<form action="/recipe/<%= @recipe.id %>/tag" method="post">
  <select id="tags_drop" name="tags_drop">
    <%if @all_tags != []%>
      <% @all_tags.each do |tag| %>
        <option value = "<%= tag.tag_name %>" > <%= tag.tag_name %> </option>
      <% end %>
    <% else %>
      <option value="" disabled selected>no tags yet</option>
    <% end %>
  </select>
  <button type="submit" id="update" class="btn btn-warning">add</button>
</form>

<p> </p>
<form class="" action="/recipes/<%= @recipe.id %>/tags/new" method="post">
  <label for="new_tag">Create a tag</label>
    <input id="new_tag" name="new_tag" class="form-inline" type="text" placeholder="new tag">
    <button type="submit" id="update" class="btn btn-warning">create</button>
</form>

<form action="/recipes/<%= @recipe.id %>/ingredient" method="post">
  <h3>Add ingredient and the amount</h3>
  <input type="hidden" name="_method" value="patch">

  <label for="new_ingredient">Ingredient Name</label>
  <input id="new_ingredient" type="text" name="new_ingredient">

  <label for="amount">Ingredient Amount</label>
  <input id="amount" type="text" name="amount">

  <button type="submit" class="btn btn-info">Add</button>
</form>

<% if @recipe.ingredients == nil %>
  <h3>There are no ingredients yet for this recipe</h3>
<% else %>
  <h3>Ingredients</h3>
  <% @recipe.amounts.each do |element| %>
    <% ingr_id = element.ingredient_id %>
    <h3><%= element.amount %> &nbsp; <%= @recipe_ingredients.find(ingr_id).ingredient_name %></h3>
  <% end %>
<% end %>

<form action="/recipes/<%= @recipe.id %>/instructions" method="post">
  <h3>Add instructions</h3>
  <input type="hidden" name="_method" value="patch">
  <textarea id="new_instructions" type="text" name="new_instructions" cols=60 rows=5 placeholder="enter instructional text here"></textarea>
  <p> </p>

  <button type="submit" class="btn btn-info">Add</button>
</form>

<% if @recipe.instructions == nil %>
  <h3>There are no instructions yet for this recipe</h3>
<% else %>
  <h3>Instructions</h3>
  <p><%= @recipe.instructions %></p>
<% end %>

<form class="form-inline" action="/" method="get">
  <button type="submit" class="btn btn-warning">Back</button>
</form>
