<h1>Recipe details for <%= @recipe.title %></h1>

<% if @recipe_tags == nil %>
  <% else %>
  <% @recipe_tags.each do |tag| %>
    <%= tag.tag_name %>&nbsp;
  <% end %>
<% end %>

<form class="form-inline" action="/recipes/<%= @recipe.id %>/edit" method="get">
  <button type="submit" class="btn btn-warning">Edit Recipe</button>
</form>

  <% if @recipe.ingredients.empty? %>
    <h3>There are no ingredients yet for this recipe</h3>
  <% else %>
    <h3>Ingredients</h3>
      <% @recipe.amounts.each do |element| %>
        <% ingr_id = element.ingredient_id %>
        <h3><%= element.amount %> &nbsp; <%= @recipe_ingredients.find(ingr_id).ingredient_name %></h3>
      <% end %>
  <% end %>

  <% if @recipe.instructions == nil %>
    <h3>There are no instructions yet for this recipe</h3>
  <% else %>
    <h3>Instructions</h3>
    <p><%= @recipe.instructions %></p>
  <% end %>

  <form class="form-inline" action="/" method="get">
    <button type="submit" class="btn btn-primary">Back</button>
  </form>
